<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1{
        color: lightblue;
      }
    </style>
  </head>
  <body>
    <a href="/">🏠Home🏠</a>
    <h1>test1: <span th:text="${test1}"></span></h1>
    <h2>test2: <span th:text="${test2}"></span></h2>
    <h3>test3: <span th:text="${test3}"></span></h3>
  </body>
</html>
