<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header:: myHeader }"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <div th:replace="~{fragments/gohome:: goToHome }"></div>
    <hr>
        <body>
        <h1>ex04 Page</h1>
        <!-- 관리자 데이터 -->
        <p th:text="'안녕하세요 ' + ${who} + '님' ">인사말</p>
        <p th:if="${isAdmin}">당신은 관리자 입니다</p>
        <div th:if="${isAdmin}">
            <h3>좋아하는 과일 리스트</h3>
            <ul>
                <li th:each="fruit : ${items}" th:text="${fruit}">과일리스트</li>
            </ul>
            
        </div>
        <!-- 일반인 데이터 -->
        <p th:if="${!isAdmin}">당신은 일반인 입니다</p>
        <p th:if="${!isAdmin}">쉬었다 가세요</p>
        </body><hr>
        <div th:replace="~{fragments/footer:: myFooter }"></div>
    </html>