<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header:: myHeader }">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <div th:replace="~{fragments/gohome:: goToHome }"></div>
  <hr />
  <body>
    <h1>ex08 Page</h1>
    <fieldset>
      <legend>Pathvariable 사용</legend>
      <form action="https://google.com" id="myForm">
        <input
          type="text"
          name="inName"
          id="input-name"
          placeholder="이름입력"
        />
        <input type="text" name="inAge" id="input-age" placeholder="나이입력" />
        <button type="submit">전송</button>
      </form>
    </fieldset>
    <ol th:if="${content != null}">
      <li th:each="c : ${content}" th:text="${c}"></li>
    </ol>
  </body>
  <hr />
  <div th:replace="~{fragments/footer:: myFooter }"></div>

  <script>
    const myform = document.getElementById("myForm");
    myform.addEventListener("submit", (event) => {
      event.preventDefault();
      const name = document.querySelector("#input-name").value;
      const age = document.querySelector("#input-age").value;

      window.location.href = `/ex08/${name}/${age}`;
    });
  </script>
</html>
