<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header:: myHeader }">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div th:replace="~{fragments/gohome:: goToHome }"></div>
    <hr />
    <h1>ex09 Page</h1>
    <fieldset>
      <legend>Post방식 formdata 사용</legend>
      <form action="/POST_formdata" id="myForm" method="POST">
        <input type="text" name="name" id="input-name" placeholder="이름입력" />
        <input type="text" name="age" id="input-age" placeholder="나이입력" />
        <button type="submit">전송</button>
      </form>
    </fieldset>
    <!-- <ol th:if="${content != null}">
      <li th:each="c : ${content}" th:text="${c}"></li>
    </ol> -->
    <h3
      th:if="${name} != null"
      th:text="${name} + '님이 / '+ ${age} + '살'"
    ></h3>
    <h3 th:unless="${name} != null">"이름을 입력하세요</h3>
    <h3>
      <mark th:if="${error != null}" th:text="${error}"
        >여기에 에러사항 표현</mark
      >
    </h3>
    <script th:if="${error != null}" th:inline="javascript">
      alert(`[[${error}]]`);
    </script>
    <hr />
    <div th:replace="~{fragments/footer:: myFooter }"></div>
  </body>
</html>
